<div class="container my-3 d-flex flex-column justify-content-center">
  <div class="d-flex justify-content-center align-items-center">
    <h1 class="text-dark"><%= @list.name %></h1>
  </div>
  <div class="d-flex flex-row-reverse w-100">
    <%= link_to new_list_bookmark_path(@list)  do%>
      <p class="btn btn-primary rounded-4 d-flex justify-content-center align-items-center">Add a movie</p>
    <% end %>
  </div>
  <div class="d-flex flex-wrap">

    <% if @bookmarks.count > 0 %>
        <% @bookmarks.each do |f| %>
          <div class="card p-5 m-2 border shadow d-flex flex-column">
            <h3><%= f.movie.title %></h3>
            <img src="<%= f.movie.poster_url%>" alt="<%= f.movie.title %>" style="width: 200px">
            <p class="text-dark"><%= f.comment %></p>
          </div>
        <% end %>
    <% end %>
  </div>
</div>
